/*Main*/

.page, body {
    background-color:#fafafa;
}



/*Helpers*/

.w-100 {
    width: 100%!important;
}
.m-x-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.m-a-0 {
    margin: 0 0!important;
}
.m-t-0 {
    margin-top: 0!important;
}
.m-r-0 {
    margin-right: 0!important;
}
.m-b-0 {
    margin-bottom: 0!important;
}
.m-l-0 {
    margin-left: 0!important;
}
.m-x-0 {
    margin-right: 0!important;
    margin-left: 0!important;
}
.m-y-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.m-a-1 {
    margin: 1rem 1rem!important;
}
.m-t-1 {
    margin-top: 1rem!important;
}
.m-r-1 {
    margin-right: 1rem!important;
}
.m-b-1 {
    margin-bottom: 1rem!important;
}
.m-l-1 {
    margin-left: 1rem!important;
}
.m-x-1 {
    margin-right: 1rem!important;
    margin-left: 1rem!important;
}
.m-y-1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.m-a-2 {
    margin: 1.5rem 1.5rem!important;
}
.m-t-2 {
    margin-top: 1.5rem!important;
}
.m-r-2 {
    margin-right: 1.5rem!important;
}
.m-b-2 {
    margin-bottom: 1.5rem!important;
}
.m-l-2 {
    margin-left: 1.5rem!important;
}
.m-x-2 {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
}
.m-y-2 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
.m-a-3 {
    margin: 3rem 3rem!important;
}
.m-t-3 {
    margin-top: 3rem!important;
}
.m-r-3 {
    margin-right: 3rem!important;
}
.m-b-3 {
    margin-bottom: 3rem!important;
}
.m-l-3 {
    margin-left: 3rem!important;
}
.m-x-3 {
    margin-right: 3rem!important;
    margin-left: 3rem!important;
}
.m-y-3 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.p-a-0 {
    padding: 0 0!important;
}
.p-t-0 {
    padding-top: 0!important;
}
.p-r-0 {
    padding-right: 0!important;
}
.p-b-0 {
    padding-bottom: 0!important;
}
.p-l-0 {
    padding-left: 0!important;
}
.p-x-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}
.p-y-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.p-a-1 {
    padding: 1rem 1rem!important;
}
.p-t-1 {
    padding-top: 1rem!important;
}
.p-r-1 {
    padding-right: 1rem!important;
}
.p-b-1 {
    padding-bottom: 1rem!important;
}
.p-l-1 {
    padding-left: 1rem!important;
}
.p-x-1 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.p-y-1 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.p-a-2 {
    padding: 1.5rem 1.5rem!important;
}
.p-t-2 {
    padding-top: 1.5rem!important;
}
.p-r-2 {
    padding-right: 1.5rem!important;
}
.p-b-2 {
    padding-bottom: 1.5rem!important;
}
.p-l-2 {
    padding-left: 1.5rem!important;
}
.p-x-2 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.p-y-2 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}
.p-a-3 {
    padding: 3rem 3rem!important;
}
.p-t-3 {
    padding-top: 3rem!important;
}
.p-r-3 {
    padding-right: 3rem!important;
}
.p-b-3 {
    padding-bottom: 3rem!important;
}
.p-l-3 {
    padding-left: 3rem!important;
}
.p-x-3 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}
.p-y-3 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

/*BS4 Card Compontent*/
.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}
.card-block {
    padding: 1.25rem;
}
.card-block::after {
    content: "";
    display: table;
    clear: both;
}
.card-title {
    margin-bottom: .75rem;
}
.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-link:hover {
    text-decoration: none;
}
.card-link+.card-link {
    margin-left: 1.25rem;
}
.card>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.card-header::after {
    content: "";
    display: table;
    clear: both;
}
.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.card-footer::after {
    content: "";
    display: table;
    clear: both;
}
.card-footer:last-child {
    border-radius: 0 0 .25rem .25rem;
}
.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0;
}
.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem;
}
.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}
.card-primary .card-footer, .card-primary .card-header {
    background-color: transparent;
}
.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.card-success .card-footer, .card-success .card-header {
    background-color: transparent;
}
.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.card-info .card-footer, .card-info .card-header {
    background-color: transparent;
}
.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.card-warning .card-footer, .card-warning .card-header {
    background-color: transparent;
}
.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}
.card-danger .card-footer, .card-danger .card-header {
    background-color: transparent;
}
.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}
.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}
.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}
.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}
.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}
.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}
.card-inverse .card-footer, .card-inverse .card-header {
    border-color: rgba(255, 255, 255, .2);
}
.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
    color: #fff;
}
.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
    color: rgba(255, 255, 255, .65);
}
.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}
.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}
.card-img {
    border-radius: .25rem;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}
.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card-img-bottom {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
@media (min-width:544px) {
    .card-deck {
    display: table;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
}
.card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
}
.card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}
}
@media (min-width:544px) {
    .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.card-group .card {
    display: table-cell;
    vertical-align: top;
}
.card-group .card+.card {
    margin-left: 0;
    border-left: 0;
}
.card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
}
.card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
}
.card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
}
.card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
}
.card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child) .card-img-top {
    border-radius: 0;
}
}




/* Pub Charity Colours
*  #ec1c24 red 
*  #a5cd39 green
************************
*  QEC Colours
*  #25282b Black
*  #f4f4f4 White
*  #70bd22 green
*/

.bg-brand {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
    box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
}

.bg-aside {
    background-color: #fafafa;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
    box-shadow: 0px 4px 0px 0px rgba(236,28,36,1);
}

.text-brand {
    color: #ec1c24;
}

.btn-outline {
    color: #ec1c24;
    background-color: transparent;
    border-color: #ec1c24;
}
.btn-outline.active, .btn-outline.focus, .btn-outline:active, .btn-outline:focus, .btn-outline:hover, .open>.dropdown-toggle.btn-outline {
    color: #fff;
    background-color: #ec1c24;
    border-color: #ec1c24;
}
.btn-outline.active, .btn-outline:active, .open>.dropdown-toggle.btn-outline {
    background-image: none;
    color: #ec1c24;
    background-color: #ec1c24;
}
.btn-outline.disabled, .btn-outline.disabled.active, .btn-outline.disabled.focus, .btn-outline.disabled:active, .btn-outline.disabled:focus, .btn-outline.disabled:hover, .btn-outline[disabled], .btn-outline[disabled].active, .btn-outline[disabled].focus, .btn-outline[disabled]:active, .btn-outline[disabled]:focus, .btn-outline[disabled]:hover, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline.active, fieldset[disabled] .btn-outline.focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:hover {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.btn-outline .badge {
    color: #fff;
    background-color: #ec1c24;
}

.btn-coms {
    color: #fff;
    background-color: #70bbe3;
    border-color: #70bbe3;
}
.btn-coms.active, .btn-coms.focus, .btn-coms:active, .btn-coms:focus, .btn-coms:hover, .open>.dropdown-toggle.btn-coms {
    color: #fff;
    background-color: #70bbe3;
    border-color: #70bbe3;
}
.btn-coms.active, .btn-coms:active, .open>.dropdown-toggle.btn-coms {
    background-image: none;
    color: #fff;
    background-color: #70bbe3;
}
.btn-coms.disabled, .btn-coms.disabled.active, .btn-coms.disabled.focus, .btn-coms.disabled:active, .btn-coms.disabled:focus, .btn-coms.disabled:hover, .btn-coms[disabled], .btn-coms[disabled].active, .btn-coms[disabled].focus, .btn-coms[disabled]:active, .btn-coms[disabled]:focus, .btn-coms[disabled]:hover, fieldset[disabled] .btn-coms, fieldset[disabled] .btn-coms.active, fieldset[disabled] .btn-coms.focus, fieldset[disabled] .btn-coms:active, fieldset[disabled] .btn-coms:focus, fieldset[disabled] .btn-coms:hover {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.btn-coms .badge {
    color: #fff;
    background-color: #70bbe3;
}

.btn-dark {
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #141618;
    border-color: #141618;
    border-radius: 4px;
}
.btn-dark.active, .btn-dark.focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #141618;
    border-color: #141618;
}
.btn-dark.active, .btn-dark:active, .open>.dropdown-toggle.btn-dark {
    background-image: none;
    color: #fff;
    background-color: #141618;
}
.btn-dark.disabled, .btn-dark.disabled.active, .btn-dark.disabled.focus, .btn-dark.disabled:active, .btn-dark.disabled:focus, .btn-dark.disabled:hover, .btn-dark[disabled], .btn-dark[disabled].active, .btn-dark[disabled].focus, .btn-dark[disabled]:active, .btn-dark[disabled]:focus, .btn-dark[disabled]:hover, fieldset[disabled] .btn-dark, fieldset[disabled] .btn-dark.active, fieldset[disabled] .btn-dark.focus, fieldset[disabled] .btn-dark:active, fieldset[disabled] .btn-dark:focus, fieldset[disabled] .btn-dark:hover {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.btn-dark .badge {
    color: #fff;
    background-color: #141618;
}


.dialog {
    overflow: hidden;
    position: fixed;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    background-color: rgba(0,0,0,0.2);
}

.dialog-content {
    padding-top: 10px;
    background-color: #f4f4f4;

    -webkit-box-shadow: inset 0px 8px 0px 0px rgba(112,189,34,1);
    -moz-box-shadow: inset 0px 8px 0px 0px rgba(112,189,34,1);
    box-shadow: inset 0px 8px 0px 0px rgba(112,189,34,1);
}

.dialog-content img {
    width: 50%;
}



.nav-spacing {
    margin-top:9rem;
}

/* page specific animations ------------------------ */

.page        { 
    bottom:0; 
    position:absolute; 
    top:0;  
    width:100%; 
}

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }
/* next -------------------------- */
.page-next.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 0.25s both ease-in-out;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 0.25s both ease-in-out;
    transform-origin: 0% 0%;
    animation: slideOutLeft 0.25s both ease-in-out;
}
.page-next.ng-enter         {  
    -webkit-animation:slideInRight 0.25s both ease-in-out;
    -moz-animation:slideInRight 0.25s both ease-in-out;
    animation:slideInRight 0.25s both ease-in-out;    
}

/* back ------------------------ */
.page-back.ng-leave        {
    -webkit-animation:slideOutRight 0.25s both ease-in-out;
    -moz-animation:slideOutRight 0.25s both ease-in-out;
    animation:slideOutRight 0.25s both ease-in-out;
}
.page-back.ng-enter        {  
    -webkit-animation:slideInLeft 0.25s both ease-in-out;
    -moz-animation:slideInLeft 0.25s both ease-in-out;
    animation:slideInLeft 0.25s both ease-in-out;    
}

/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-100%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

@keyframes slideOutRight {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutRight {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(-100%); }
}