body{
    overflow-x: hidden;
}

.aside-menu{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    width: 275px;
    display: block;
}

.open{
    display: block;
}


.aside-menu-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: none;
    transform: none;
    z-index: 1;

    -webkit-box-shadow: -4px 0px 0px 0px rgba(98,98,98,0.2);
    -moz-box-shadow: -4px 0px 0px 0px rgba(98,98,98,0.2);
    box-shadow: -4px 0px 0px 0px rgba(98,98,98,0.2);
}
.aside-menu-animate{
    -webkit-transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
}

.aside-back-drop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #000000;
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.aside-back-drop.in{
    opacity: .1;
}

.aside-menu .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.aside-menu .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}