<div ng-include='"templates/subnav.html"'></div>
<div ng-include='"templates/notify.html"' class="anim-down"></div>
<div class="container-fluid nav-spacing">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-data="obj in machines">
                <div class="panel-heading">
                    <h4>Confirm the venue layout.</h4>
                </div>
                <div class="panel-body">
                    <p class="card-text"><em>Check that the listed machines match the venue layout then tap Confirm.</em></p>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:20%">JIN</th>
                            <th>Machine</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in machines" class="anim-repeat">
                            <td class="{{obj.class}}">{{obj.jin}}</td>
                            <td class="{{obj.class}}">{{obj.name}}<br><small>{{obj.serial}}</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>