<!-- Include access to menu -->
<div ng-include='"templates/header.html"'></div>
<div class="container-fluid nav-spacing">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Jobs</h4>
                    <p class="card-text">You are not currently assigned to any jobs.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Work Orders -->
     <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Work Orders</h4>
                </div>
                <div class="panel-body"><p class="card-text">Choose a venue to carry out a Work Order.</p></div>
                <ul class="list-group">
                    <a href="##/work-order-tasks/#ID#" class="list-group-item">
                        <h4>#Name# <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></h4>
                        <p class="small">#Number# <span class="label label-info">started</span></p>
                    </a>
                    <a href="##/work-order-tasks/#ID#" class="list-group-item">
                        <h4>#Name# <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></h4>
                        <p class="small">#Number# <span class="label label-success">complete</span></p>
                    </a>
                    <a href="##/work-order-tasks/#ID#" class="list-group-item">
                        <h4>#Name# <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></h4>
                        <p class="small">#Number#</p>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>