<nav class="navbar navbar-fixed-top navbar-dark navbar-inverse">
	<div class="pull-right p-y-1 p-r-1">
		<a class="" href="#/"><img src="img/coms.png"></a>
	</div>
</nav>
<div style="margin-top:15rem;">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading"><div class="panel-title">Log In</div></div>
				<div class="panel-body">
					<form action="index.cfm" method="post" enctype="application/x-www-form-urlencoded" id="loginForm" name="loginForm" format="xml">
						<div class="form-group">
							<label class="text-muted" for="username">Email</label>
							<input type="email" name="username" value="" placeholder="Your Email Address" class="input-lg form-control" maxlength="255" tabindex="1">
						</div>
						<div class="form-group">
							<label class="text-muted" for="passowrd">Password</label>
							<input type="password" name="password" value="" placeholder="Your Password" class="input-lg form-control" maxlength="255" tabindex="2">
						</div>
							<p>Feedback</p>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-6">
								<button type="submit" name="login" tabindex="3" class="btn btn-coms btn-lg btn-block">Log In</button>
							</div>
							<div class="col-sm-6 m-t-3" style="margin: 10px 0;">
								<a href="/coms/assistance/forgotLogon.cfm?u='+username.value" style="color:#333;" class="btn btn-block btn-link">Forgotten Password?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="text-muted"><i class="fa fa-question-circle"></i> <a class="text-muted" href="tel:0800266797">0800 266 797</a></h2>
		</div>
	</div>
</div>