<div ng-include='"templates/subnav.html"'></div>

<div class="container-fluid nav-spacing">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Work Order Name</h4>
			</div>
				<div class="panel-body"><p class="card-text">Choose the detail you would like to complete.</p></div>
			<ul class="list-group list-group-flush">
				<a href="#/install" class="list-group-item list-group-item-action">Install <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></a>
				<a href="#/relocate" class="list-group-item list-group-item-action">Relocate <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></a>
				<a href="#/remove" class="list-group-item list-group-item-action">Remove <span class="pull-right"><i class="fa fa-lg fa-angle-right"></i></span></a>
			</ul>
		</div>
	</div>
</div>
</div>