<cfcomponent  extends="dao._AbstractDAO">


	<!--- This class is created by [ReverseEngine] on {ts '2016-08-12 12:28:43'}----> 


	<!--- init current model, so the model know what DB table it talks to ---> 


	<cffunction name="init">
		<cfset obj = new entities.workOrder_lib_machine_Action()>
	</cffunction>


</cfcomponent>
