<cfcomponent extends="global">
    <cffunction name="arrayAppendAll" access="public" returntype="array" output="false" hint="I append (concat) the entire incoming array to the target array.">

        <!--- Define arguments. --->
        <cfargument name="targetArray" type="array" required="true" hint="I am the array being augmented" />
        <cfargument name="incomingArray" type="array" required="true" hint="I am the array being added to the target array." />

        <!--- Define the local scope. --->
        <cfset var local = {} />

        <!---
            Loop over the incoming array and add each value to the
            target array. If we wanted to get *naughty*, we could use
            the Collection-based interface of the array:
            array.addAll( array )
            However, to keep things ColdFusion-friendly, we'll perform
            the array augmentation manually.
        --->
        <cfloop index="local.incomingValue" array="#arguments.incomingArray#">

            <!--- Append the incoming value. --->
            <cfset arrayAppend( arguments.targetArray, local.incomingValue ) />

        </cfloop>

        <!---
            Since arrays are passed by VALUE in ColdFusion, we have to
            return the resultant array.
        --->
        <cfreturn arguments.targetArray />
    </cffunction>

    <cffunction name="mailTo" return="void" access="public">
        <cfargument name="subject" type="string" required="yes" />
        <cfargument name="content" type="any" required="yes" default="" />
        <cfargument name="emailto" type="string" required="yes" />
        <cfargument name="attachment" type="any" required="no" default="" />


        <!--- Usage: auditEntry(moduleName,activityType,activityDescription) --->
        <cfscript>
            logMe("Email", "MailTo: #arguments.emailTo#; Subject: #arguments.subject#");
        </cfscript>

        <cfmail to="#arguments.emailto#" from="do-not-reply@coms.net.nz" subject="#arguments.subject#" type="html">
            <cfif len(#arguments.attachment#) gt 0>
                <cfmailparam file="#arguments.attachment#">
            </cfif>

            <!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml">
                <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                    <style type="text/css">
                        body { font-family: 'Century Gothic', sans-serif; font-size: 88%; }
                        table { border-top: 1px solid ##bababa; border-collapse: collapse; font-size: 100%; }
                        th,td { padding: 5px; border-bottom: 1px solid ##bababa; background-color: ##ffffff; }
                        th { background-color:##666666; color:##FFFFFF; text-align: left; }
                        img { display: block; }
                    </style>
                </head>
                <body>
                    <!---<img alt="COMS Systems Limited" src="/img/logo.png"><br/>---><br/>
                    <cfoutput>#arguments.content#</cfoutput>
                    <br /><br />Please <strong> do not</strong> reply to this email as it is an automated message.</p>
                    <br /><br />
                    <p><span style="color: ##666666; font-size: 12px;">Email generated by COMS Mobile at #dateFormat(now(), 'dd/mm/yyyy')# #timeFormat(now(), 'HH:MM:SS')# </span></p>
                </body>
            </html>
        </cfmail>
    </cffunction>
</cfcomponent>