<footer style="bottom:0px;position:absolute;" class="w-100 p-y-1 p-x-1">
<div class="text-center p-b-2">
<a href="#/logout" aside-menu-toggle="menu-1" >
    <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
    </span>
    <p>Sign Out</p>
</a>
</div>
  <p class="text-muted text-center small m-a-0">&copy; 2016 COMS Systems Limited<br>All rights reserved.</p>
</footer>