<nav class="navbar navbar-fixed-top navbar-default bg-brand">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 text-left p-t-2">
				<button class="btn btn-outline" type="button" aside-menu-toggle="menu-1" aria-controls="menu-1">
				<span >&#9776;</span>
				</button>
			</div>
			<div class="col-xs-4 text-center p-t-2"><h4 class="text-brand">Home</h4></div>
			<div class="col-xs-4 text-right p-y-1">
				<a href="#/"><img src="img/logo.png" height="40"></a>
			</div>
		</div>
	</div>
</nav>