<div ng-hide="dialog" class="dialog anim-slide-up">
<div class="dialog-content" >
<div class="panel-body">
      <img src="img/coms.svg">
        <h2>Changes Confirmed.</h2>
        <p>The changes will be reflected in COMS.</p>
      <div class="">
        <a type="button" ng-click="returnCall()" class="btn btn-block btn-lg btn-dark">OK, Got it!</a>
      </div>
      </div>
</div>
</div>