<!-- Sub-navigation -->
<div class="navbar navbar-fixed-top navbar-default bg-brand">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 p-y-2">
				<button ng-click="backCall()" type="button" href="#/home" class="btn btn-default">{{backBtn}}</button>
			</div>
			<div class="col-xs-4 p-t-1 p-b-2 text-center">
				<h4 class="text-brand">{{screenTitle}}</h4>
			</div>
			<div class="col-xs-4 p-y-2 text-right">
				<div class="pull-xs-right">
					<button type="button" class="btn" ng-class="nextBtnClass" ng-show="showBtn" ng-click="nextCall()">{{nextBtn}}</button>
				</div>
			</div>
		</div>
	</div>
</div>